.photo-grid {
    display: grid;
    gap: 16px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(4, auto);
    padding-top: 92px;
    max-width: 1184px;
    width: 100% - 96px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}