.footer__copyright {
    margin: 0 0 0 auto;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;  
    align-self: end;
}
@media screen and (max-width: 639px) {
    .footer__copyright {
        max-width: 186px;
        line-height: 14px;        
        padding-top: 48px;
        width: 100%;
        align-items: flex-start;
        margin: 0;
    }
}