.footer {
    width: 100%;
    max-width: 1184px;
    padding-top: 92px;
    margin: auto;
    padding-bottom: 24px;
    display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer {
        max-width: 928px;
        width: 91%;
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .footer {
        max-width: 720px;
        width: 94%;
        padding-top: 88px;
    }
}

@media screen and (max-width: 639px) {
    .footer {
        max-width: 288px;
        padding-top: 64px;
        width: 58%;
        flex-direction: column;
        margin-left: 16px;
    }
}