.place__url-heading {
    color: #aaa;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: normal;
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 456px;
    margin: 0 0 12px 0;
    padding: 0;
}