.cover__item {
    display: flex;
    flex-direction: column;
    position: relative;    
    background: url(../../../images/cover-trains.jpg) center center no-repeat;
    min-height: 740px;    
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: #fff;
    z-index: 9;
}
.cover__item::before {
    background: #2A2C2F;
    opacity: .3;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.cover__item:hover::before {
    opacity: .8;
}
